body{
  background-image: url(./assets/bg.jpg);
  /* background: opacity 1px; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #0055ffaa;     */
  /* opacity: 90%; */
           
}
.App-header {
  background-color: #0055ff;
  min-height: 201vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}


.App-link {
  color: #61dafb;
}
