@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  .Navbar-head {
    font-family: montserrat;
  }
}

.Navbar-head
{ 
  @apply  flex w-[100%] bg-[#fbfbfb] font-black  text-4xl border-b-4 border-solid border-[#ff0000] lg:border-[#282828] lg:scale-[1.0] box-border

}



.Navbar-head .Navbar-headings
{
  @apply flex items-center list-none justify-center 
  
}
.Navbar-head .Navbar-headings .Nav-obj
{
  @apply lg:h-12 text-center text-[#000000] mx-2 no-underline p-2 lg:p-4 rounded-3xl border-solid border-transparent border-2 duration-[0.2s]
}
.Navbar-head .Navbar-headings .Nav-obj .nh
{
  @apply flex justify-center text-center -translate-y-2.5
}



.dropdown ul li ul
{

  @apply no-underline rounded-3xl border-solid border-transparent border-2 duration-[0.2s] pl-6
}
.Navbar-head .Navbar-headings .Nav-obj:hover
{
  /* From https://css.glass */

border-radius: 25px;
box-shadow: 0 0.25rem 4rem rgba(255, 3, 3, .25);
backdrop-filter: blur(0.25rem);
-webkit-backdrop-filter: blur(2rem);


  border: solid black 2px;
  @apply rounded-3xl bg-[#ff00005f] text-[#ffffff] border-[#ff939340] duration-[0.2s] scale-[1.09]
  

  
 

}
.Navbar-head .Navbar-headings ul li ul {
 @apply m-auto
}
.nh, .dropdown ul li
{
  text-decoration: none;
  color: rgb(0, 0, 0);
  
  font-size: 1rem;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;

  
            
}



.list-link 
{ background: linear-gradient(to right, rgb(255, 57, 57),rgb(255, 95, 95));
  @apply  text-black flex h-[40%] no-underline m-auto w-[13rem] scale-[0.8] rounded-[1rem]
  
  

}
                                      /* dropdown */
                                      
                                      
                                      .dropdown ul li {
                                        -webkit-transition: all 0.2s;
                                        -moz-transition: all 0.2s;
                                        -ms-transition: all 0.2s;
                                        -o-transition: all 0.2s;
                                        transition: all 0.2s;
                                        @apply  relative cursor-pointer 
                                      }
                                      
                                      .dropdown ul li ul {
                                        border:inset;
                                        -webkit-box-shadow: none;
                                        -moz-box-shadow: none;
                                        box-shadow: none;
                                        display: none;
                                        opacity: 0;
                                        visibility: hidden;
                                        -webkit-transiton: opacity 0.2s;
                                        
                                        -transition: opacity 0.2s;
                                        box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                                      
                                      @apply border-4 bg-[#f2f6f6] p-4 absolute w-52 translate-y-8
                                      
                                      }
                                      .dropdown ul li ul li { 
                                       
                                      
                                        @apply p-2 my-0 mx-auto w-40  block text-[#000000] text-center rounded-3xl
                                      }
                                      .dropdown ul li ul li:hover 
                                      { 
                                        
                                        transform: scale(1.2);
                                        @apply bg-[#ff050553]
                                      }
                                      .dropdown ul li:hover ul {
                                        
                                        @apply block visible opacity-100
                                      }
                                      
                                     
                                      




