@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .card-body{
        font-family: 'Tilt Warp', cursive;
        
    }
  }

.card-body
{
    

    @apply  w-64 h-[28rem] overflow-hidden shadow-md transition duration-500 ease-in rounded-xl bg-[aliceblue] 

}
.card-body:hover
{  
    /* transform: scale(1.03);
    box-shadow: 0px 0px 15px 0px; */
    @apply scale-[1.03] shadow-lg;
}
.img-container img
{   
    @apply  overflow-hidden h-52 w-72 ;

}
.card-content
{
    @apply m-[1rem] mt-[0.3rem] overflow-hidden h-[25%] ;
   
    


}
.card-content h3,p
{
    
    @apply text-[#000] text-sm font-bold;

}
.card-content p
{

    @apply text-[#000] text-sm font-light ;
}
.card-title
{
   
    @apply mb-[0.5rem] text-[#000] text-sm font-bold;

}

.view-btn 
{
   
    @apply flex justify-center;
}
.view-btn button:hover
{   
    
    @apply scale-[1.2] bg-gradient-to-r from-[#200003] to-blue-500;


}
.view-btn button
{
    
    @apply p-[0.5rem] bg-white border-none transition duration-500 ease-in-out rounded-full scale-[1.1] ;
}
.view-btn button a
{
    text-transform: uppercase;
    color: magenta;
    text-decoration: none;

}